<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMS2TV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SMS2TV1.Properties.Settings.smsDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=smsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <SMS2TV1.Properties.Settings>
            <setting name="Hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5250</value>
            </setting>
            <setting name="CasparChannel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimeTable" serializeAs="String">
                <value>FotbollsVM2010/TimeTable</value>
            </setting>
            <setting name="Scroller" serializeAs="String">
                <value>test/newtelegram</value>
            </setting>
        </SMS2TV1.Properties.Settings>
    </applicationSettings>
</configuration>